@charset "UTF-8";

@import "base.css";

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
#header {
	width:640px;
	height:60px;
	margin: 0 auto;
	background:#FF4C88;
}

	#header h1 {
		text-align:center;
		color:#fff;
		line-height: 60px;
		font-size: 1.6rem;
	}

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/
#all {
	width:640px;
	height:620px;
	margin: 0 auto;
	overflow:hidden;
	background:#F8ECC9;
	background-image: url("../img/background.jpg")
}

#character {
	float:left;
	width:240px;
	height:610px;
	padding-top:10px;
}

/*-------------------------------------------------------------------------
	Contents
/*-----------------------------------------------------------------------*/
#contents {
	position:relative;
	float:left;
	width:400px;
	overflow:hidden;
}

/*-------------------------------------------------------------------------
	selectTitle
/*-----------------------------------------------------------------------*/
#selectTitle {
	width:400px;
	height:620px;
	position:relative;
}

	#selectTitle ul {
		position:absolute;
		left:50px;
		top:220px;
	}

	#selectTitle li {
		width:280px;
		min-height: 40px;
		line-height:40px;
		margin-bottom:40px;
		padding:10px;
		text-align:center;
		font-size:1rem;
		color:#fff;
		background:#FF6699;
		cursor:pointer;
		-moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px;
}
	}

/*-------------------------------------------------------------------------
	Article
/*-----------------------------------------------------------------------*/
#article {
}

	#article dl {
		width:320px;
		height:auto;
		margin:20px;
		margin-bottom:40px;
		padding:20px;
		background:#fff;
		-webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px;
		opacity:.8;
	}

	#article dl dt {
		font-size: 1.2rem;
		margin-bottom:10px;
		border-bottom:1px #FF6699 dashed;
	}

	#article dl dd.text {
		margin-bottom:10px;
		font-size: .8rem;
	}

	#article dl dd.url {
		font-size: .8rem;
	}

	#article dl dd.url a {
		color:#FF6699;
		border-bottom:1px #FF6699 solid;
	}

	#article dl dd.url a:hover {
		color:#FF99BB;
		border-color:#FF99BB;
	}